-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."weather" (
    "city" VARCHAR(80) NOT NULL,
    "temp_lo" INTEGER,
    "temp_hi" INTEGER,

    CONSTRAINT "weather_pkey" PRIMARY KEY ("city")
);

